@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--primary-color);
    line-height: 1.3;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
    line-height: 1.2;
}

h3 {
    font-size: 6rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}